<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Gypson</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
	<div class="homepage"></div>
	<header class="header" style="background: url(assets/images/header_bg.png) no-repeat center center; background-size: cover;">
		<div class="header_bg">
			<div class="logo">
				<a href="#"><img src="assets/images/logo.png" alt="Logo"></a>
			</div>
			<div class="top_header">
				<div class="left_info">
					<a href="tel:+73832632693" class="phone">+7(383)263-26-93</a>
					<a href="mailto:gypson.decor@gmail.com" class="mail"><i class="far fa-envelope"></i>gypson.decor@gmail.com</a>
					<div class="btn_call"><a href="#">Заказать звонок</a></div>
				</div>
				
				<div class="right_main">
					<div class="open_block">
						<span class="text">Меню</span>
						<span class="icon"><i class="fas fa-bars"></i></span>
					</div>
					<div class="right_menu">
						<div class="close_block">
							<span class="text">Скрыть <br>меню</span>
							<span class="icon"><i class="fas fa-times"></i></span>
						</div>
						<nav>
							<ul>
								<li><a href="#">Главная</a></li>
								<li><a href="#">Компания</a></li>
								<li>
									<a href="#">Каталог продукции</a>
									<ul class="sub_menu">
										<li><i class="fas fa-square-full"></i><a href="#">3D панели</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">LED панели</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">3D перегородки</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">Декоративный камень</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">Лепнина</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">Порталы для каминов</a></li>
									</ul>
								</li>
								<li><a href="#">Монтаж</a></li>
								<li><a href="#">Портфолио</a></li>
								<li><a href="#">Преимущества</a></li>
								<li><a href="#">Сертификаты</a></li>
								<li><a href="#">Представительства и доставка</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="header_box">
					<h2 class="title">Декоративные отделочные материалы от производителя</h2>
					<span class="sub_title">D панели, LED панели, 3D перегородки, декоративный камень,<br> лепнина, порталы для каминов</span>
					<span class="btn_clic"><a href="#">Смотреть каталог</a></span>
					<span class="mouse"><img src="assets/images/icon_mouse.png" alt="#"></span>
				</div>
			</div>
		</div>
	</header>

	<section class="company">
		<div class="wrapper">
			<h2 class="title">Компания</h2>
			<span class="sub_title">Крупнейший производитель интерьерного декора</span>
			<p class="company_info">
				Компания Gypson специализируется на производстве и дистрибуции качественных гипсовых элементов декора, таких как 3D панели, 3D перегородки, LED перегородки, декоративный камень, светильники, порталы для камина. Предлагаем полный комплекс услуг "под ключ" от разраработки индивидуального дизайна до монтажа. Гарантируем минимальные сроки изготовления, а также лучшее соотношение цены и качества. На всех этапах сотрудничества вы можете рассчитывать на профессионализм и высокий уровень ответственности сотрудников нашей  компании.
			</p>
		</div>
	</section>

	<section class="benefit">
		<div class="benefit_box_first">
			<img src="assets/images/icon/icon_1.png" alt="#">
			<h6 class="title_benefit">Высокое качество</h6>
			<span class="sub_title_benefit">Не экономим на сырье, строго соблюдаем технологии производства и хранения</span>
		</div>
		<div class="benefit_box_second">
			<img src="assets/images/icon/icon_2.png" alt="#">
			<h6 class="title_benefit">Выгодная цена</h6>
			<span class="sub_title_benefit">Гарантируем лучшую цену на рынке, так как являемся заводом изготовителем</span>
		</div>
		<div class="benefit_box_third">
			<img src="assets/images/icon/icon_3.png" alt="#">
			<h6 class="title_benefit">Современный дизайн</h6>
			<span class="sub_title_benefit">Имеем большой выбор изделий для эффективных интерьерных решений</span>
		</div>
	</section>

	<section class="installation">
		<div class="wrapper">
			<h2 class="title">Монтаж</h2>
			<span class="sub_title">Выполняем с соблюдением всех технологических норм</span>
			<p class="installation_info">3D панели и другой стеновой декор характеризуются относительной простотой монтажа. Однако если делать это самостоятельно, конечный результат может не порадовать. Если вы не уверены в своих силах, лучше обратиться к профессионалам, которые сделают все красиво, аккуратно и, что немало важно, быстро. Наши специалисты гарантируют радующий глаз результат в минимально возможные сроки и при стоимости ниже, чем у сторонних отделочников.</p>
		</div>
	</section>
	
	<footer class="footer">
		
	</footer>
	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>
</body>
</html>