<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Gypson</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
	<div class="homepage"></div>
	<header class="header" style="background: url(assets/images/header_bg.png) no-repeat center center; background-size: cover;">
		<div class="header_bg">
			<div class="logo">
				<a href="#"><img src="assets/images/logo.png" alt="Logo"></a>
			</div>
			<div class="top_header">
				<div class="left_info">
					<a href="tel:+73832632693" class="phone">+7(383)263-26-93</a>
					<a href="mailto:gypson.decor@gmail.com" class="mail"><i class="far fa-envelope"></i>gypson.decor@gmail.com</a>
					<div class="btn_call"><a href="#">Заказать звонок</a></div>
				</div>
				
				<div class="right_main">
					<div class="open_block">
						<span class="text">Меню</span>
						<span class="icon"><i class="fas fa-bars"></i></span>
					</div>
					<div class="right_menu">
						<div class="close_block">
							<span class="text">Скрыть <br>меню</span>
							<span class="icon"><i class="fas fa-times"></i></span>
						</div>
						<nav>
							<ul>
								<li><a href="#">Главная</a></li>
								<li><a href="#">Компания</a></li>
								<li>
									<a href="#">Каталог продукции</a>
									<ul class="sub_menu">
										<li><i class="fas fa-square-full"></i><a href="#">3D панели</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">LED панели</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">3D перегородки</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">Декоративный камень</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">Лепнина</a></li>
										<li><i class="fas fa-square-full"></i><a href="#">Порталы для каминов</a></li>
									</ul>
								</li>
								<li><a href="#">Монтаж</a></li>
								<li><a href="#">Портфолио</a></li>
								<li><a href="#">Преимущества</a></li>
								<li><a href="#">Сертификаты</a></li>
								<li><a href="#">Представительства и доставка</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="wrapper">
				<div class="header_box">
					<h2 class="title">Декоративные отделочные материалы от производителя</h2>
					<span class="sub_title">D панели, LED панели, 3D перегородки, декоративный камень,<br> лепнина, порталы для каминов</span>
					<span class="btn_clic"><a href="#">Смотреть каталог</a></span>
					<span class="mouse"><img src="assets/images/icon_mouse.png" alt="#"></span>
				</div>
			</div>
		</div>
	</header>

	<section class="company">
		<div class="wrapper">
			<h2 class="title">Компания</h2>
			<span class="sub_title">Крупнейший производитель интерьерного декора</span>
			<p class="company_info">
				Компания Gypson специализируется на производстве и дистрибуции качественных гипсовых элементов декора, таких как 3D панели, 3D перегородки, LED перегородки, декоративный камень, светильники, порталы для камина. Предлагаем полный комплекс услуг "под ключ" от разраработки индивидуального дизайна до монтажа. Гарантируем минимальные сроки изготовления, а также лучшее соотношение цены и качества. На всех этапах сотрудничества вы можете рассчитывать на профессионализм и высокий уровень ответственности сотрудников нашей  компании.
			</p>
		</div>
	</section>

	<section class="benefit">
		<div class="benefit_box_first">
			<img src="assets/images/icon/icon_1.png" alt="#">
			<h6 class="title_benefit">Высокое качество</h6>
			<span class="sub_title_benefit">Не экономим на сырье, строго соблюдаем технологии производства и хранения</span>
		</div>
		<div class="benefit_box_second">
			<img src="assets/images/icon/icon_2.png" alt="#">
			<h6 class="title_benefit">Выгодная цена</h6>
			<span class="sub_title_benefit">Гарантируем лучшую цену на рынке, так как являемся заводом изготовителем</span>
		</div>
		<div class="benefit_box_third">
			<img src="assets/images/icon/icon_3.png" alt="#">
			<h6 class="title_benefit">Современный дизайн</h6>
			<span class="sub_title_benefit">Имеем большой выбор изделий для эффективных интерьерных решений</span>
		</div>
	</section>

	<section class="catalog">
		<div class="wrapper">
			<h2 class="title">Каталог изделий</h2>
			<div class="tabs">
				<ul class="tab_items nav nav-tabs">
					<li class="tab_item-1 active"><a data-toggle="tab" href="#1" class="active show">3D панели</a></li>
					<li class="tab_item-2"><a data-toggle="tab" href="#2">LED панели</a></li>
					<li class="tab_item-3"><a data-toggle="tab" href="#3">3D перегородки</a></li>
					<li class="tab_item-4"><a data-toggle="tab" href="#4">Декоротивный камень</a></li>
					<li class="tab_item-5"><a data-toggle="tab" href="#5">Лепнина</a></li>
					<li class="tab_item-6"><a data-toggle="tab" href="#6">Порталы для каминов</a></li>
				</ul>
				<div class="tab_contents">
					<div id="1" class="tab_content-1">
						<p class="sub_title_catalog">3D панели – это материал, на который нанесены объемные рисунки, мозаика. Они предназначены для создания декоративной композиции внутри помещений. Используя данные изделия, удается получить разнообразные сюжеты, которые, для усиления эффекта, можно подчеркнуть игрой света и предметами интерьера. 3D панели для внутренней отделки обладают множеством достоинств и среди первых – простота монтажа.</p>
						<div class="card_section">
							<div class="card_box">
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_1.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_2.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 001</h3>
									<p class="params">Д*В*Ш: 500*500*100 мм - от 875 руб. <br> Д*В*Ш: 1000*500*100 мм - от 875 руб.<br> 1 кв.м - от 50 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_3.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_4.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 002</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_5.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_6.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 003</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_7.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_8.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 004</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_9.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_10.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 005</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_11.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_12.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 006</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
							</div>
						</div>
					</div>
					<div id="2" class="tab_content-2">
						<p class="sub_title_catalog">Конструкция LED панели представляет собой корпус, изготовленный из металла или пластика, дополненный акриловым листом, на котором проделаны отверстия для светодиодов. Количество дырочек определяет интенсивность свечения, но в любом случае таких каналов по всей лицевой стороне достаточно много. Это обеспечивает равномерное рассеивание света. Выбор ассортимента позволяет воплощать смелые и нестандартные решения, что придаёт интерьеру индивидуальности.</p>
						<div class="card_section">
							<div class="card_box">
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_1.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_2.png" alt="#"></div>
									</div>
									<h3 class="title_model">LED панель 001</h3>
									<p class="params">Д*В*Ш: 500*500*100 мм - от 875 руб. <br> Д*В*Ш: 1000*500*100 мм - от 875 руб.<br> 1 кв.м - от 50 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_3.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_4.png" alt="#"></div>
									</div>
									<h3 class="title_model">LED панель 002</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_5.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_6.png" alt="#"></div>
									</div>
									<h3 class="title_model">LED панель 003</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_7.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_8.png" alt="#"></div>
									</div>
									<h3 class="title_model">LED панель 004</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_9.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_10.png" alt="#"></div>
									</div>
									<h3 class="title_model">LED панель 005</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_11.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_12.png" alt="#"></div>
									</div>
									<h3 class="title_model">LED панель 006</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
							</div>
						</div>
					</div>
					<div id="3" class="tab_content-3">
						<p class="sub_title_catalog">Перегородки 3д из гипса - это очередное решение, которым можно разнообразить Ваш интерьер. НПерегородки 3д из гипса – это прекрасная возможность зонировать большое помещение. Тем самым Вы сможете разграничить пространству на нужные Вам зоны. К примеру, отделить кухню от гостиной, таким образом, Вам будет легче создавать собственный стиль для каждой отделенной зоны. Такая стена будет выглядеть как произведение искусства.</p>
						<div class="card_section">
							<div class="card_box">
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_1.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_2.png" alt="#"></div>
									</div>
									<h3 class="title_model">400-250-100</h3>
									<p class="params">Д*В*Ш: 500*500*100 мм - от 875 руб. <br> Д*В*Ш: 1000*500*100 мм - от 875 руб.<br> 1 кв.м - от 50 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_3.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_4.png" alt="#"></div>
									</div>
									<h3 class="title_model">Apollo</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_5.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_6.png" alt="#"></div>
									</div>
									<h3 class="title_model">Ohm</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_7.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_8.png" alt="#"></div>
									</div>
									<h3 class="title_model">Quincy</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_9.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_10.png" alt="#"></div>
									</div>
									<h3 class="title_model">Weaver</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_11.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_12.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 006</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
							</div>
						</div>
					</div>
					<div id="4" class="tab_content-4">
						<p class="sub_title_catalog">Декоративный камень широко применяется для внутренней отделки, при облицовке фасадов, арок и колонн, дверных и оконных проемов. Его можно использовать при декорировании печей, каминов и поверхностей на кухне, так как материал абсолютно не горюч. Кроме того, искусственный камень отлично подходит для отделки помещений с повышенной влажностью (саун, бассейнов и т.д.). Устойчив  к воздействию солнечных лучей, влажности и морозам, а также перепадам температур.</p>
						<div class="card_section">
							<div class="card_box">
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_1.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_2.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 001</h3>
									<p class="params">Д*В*Ш: 500*500*100 мм - от 875 руб. <br> Д*В*Ш: 1000*500*100 мм - от 875 руб.<br> 1 кв.м - от 50 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_3.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_4.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 002</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_5.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_6.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 003</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_7.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_8.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 004</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_9.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_10.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 005</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_11.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_12.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 006</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
							</div>
						</div>
					</div>
					<div id="5" class="tab_content-5">
						<p class="sub_title_catalog">Декорирование с помощью лепнины в настоящее время особенно популярно, так как помогает добавить помещению благородство и сдержанность. Таким оформлением можно придать необычности не только стенам и потолкам, но и украсить камин, окна и тому подобное. С помощью лепнины появляется возможность скрыть неровные поверхности, подчеркнуть привлекательность источников света либо отдекорировать мягкую мебель.</p>
						<div class="card_section">
							<div class="card_box">
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_1.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_2.png" alt="#"></div>
									</div>
									<h3 class="title_model">Светильник 001</h3>
									<p class="params">1 шт. - от 50 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_3.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_4.png" alt="#"></div>
									</div>
									<h3 class="title_model">Светильник 002</h3>
									<p class="params">1 шт. - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_5.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_6.png" alt="#"></div>
									</div>
									<h3 class="title_model">Светильник 003</h3>
									<p class="params">1 шт. - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_7.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_8.png" alt="#"></div>
									</div>
									<h3 class="title_model">Светильник 004</h3>
									<p class="params">1 шт. - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_9.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_10.png" alt="#"></div>
									</div>
									<h3 class="title_model">Светильник 005</h3>
									<p class="params">1 шт. - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_11.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_12.png" alt="#"></div>
									</div>
									<h3 class="title_model">Светильник 006</h3>
									<p class="params">1 шт. - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
							</div>
						</div>
					</div>
					<div id="6" class="tab_content-6">
						<p class="sub_title_catalog">Камин не только символ домашнего уюта, но еще и признак изысканного вкуса хозяина дома. Каминный портал такая же важная часть всей конструкции, как и топка, а лучшее украшение для портала это лепнина. Лепнина для камина подчеркнет достоинства этого домашнего объекта и сделает интерьер индивидуальным и неповторимым. Неважно, какой у вас камин, дровяной, электрический или, вообще, декоративный, лепные украшения придутся к месту.</p>
						<div class="card_section">
							<div class="card_box">
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_1.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_2.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 001</h3>
									<p class="params">Д*В*Ш: 500*500*100 мм - от 875 руб. <br> Д*В*Ш: 1000*500*100 мм - от 875 руб.<br> 1 кв.м - от 50 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_3.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_4.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 002</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_5.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_6.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 003</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_7.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_8.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 004</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_9.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_10.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 005</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
								<div class="card">
									<div class="slider_card">
										<div class="slide_card"><img src="assets/images/kategory/kategory_11.png" alt="#"></div>
										<div class="slide_card"><img src="assets/images/kategory/kategory_12.png" alt="#"></div>
									</div>
									<h3 class="title_model">Модель 006</h3>
									<p class="params">500*500 мм - от 875 руб.<br> 1000*500 мм - от 875 руб. <br>1 кв.м - от 875 руб.</p>
									<div class="btn_request"><a href="#">Оставить заявку</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>            
			</div> 
		</div>
	</section>

	<section class="installation">
		<div class="wrapper">
			<h2 class="title">Монтаж</h2>
			<span class="sub_title">Выполняем с соблюдением всех технологических норм</span>
			<p class="installation_info">3D панели и другой стеновой декор характеризуются относительной простотой монтажа. Однако если делать это самостоятельно, конечный результат может не порадовать. Если вы не уверены в своих силах, лучше обратиться к профессионалам, которые сделают все красиво, аккуратно и, что немало важно, быстро. Наши специалисты гарантируют радующий глаз результат в минимально возможные сроки и при стоимости ниже, чем у сторонних отделочников.</p>
			<div class="installation_box">
				<div class="work_stages_top">
					<div class="item item_left">
						<h6 class="title_installation">Предварительная подготовка стен</h6>
						<div class="icon_nomber">
							<span>1</span>
						</div>
					</div>
					<div class="item item_center">
						<h6 class="title_installation">Заполнение швов гипсовой шпаклевкой</h6>
						<div class="icon_nomber">
							<span>3</span>
						</div>
					</div>
					<div class="item item_right">
						<h6 class="title_installation">В результате идеальная безшовная поверхность</h6>
						<div class="icon_nomber">
							<span>5</span>
						</div>
					</div>
				</div>
				<div class="work_stages_bottom">
					<div class="item">
						<span class="line"></span>
						<div class="icon_nomber">
							<span>2</span>
						</div>
						<h6 class="title_installation">Крепление к стене при помощи клея или саморезов</h6>					
					</div>
					<div class="item">
						<span class="line"></span>
						<div class="icon_nomber">
							<span>4</span>
						</div>
						<h6 class="title_installation">Грунтовка и покраска поверхности в несколько слоев</h6>					
					</div>
				</div>
			</div>
			
		</div>
	</section>
	
	<footer class="footer">
		
	</footer>
	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>
</body>
</html>